@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: "Shrikhand-Regular";
  src: url(Shrikhand-Regular.ttf) format("truetype");
}

body {
  margin: auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.bold {
  font-weight: bold;
}

.other_police {
  font-family: "Shrikhand-Regular";
}

.majuscule {
  text-transform: uppercase;
}

.titre {
  font-size: 1.5em;
  margin-left: 20px;
}

.ft_14 {
  font-size: 14px;
  padding-top: 5px;
}

.photo_noteenchantee {
  height: 250px;
}

.photo_noteenchantee img {
  top: -100px;
  position: relative;
  z-index: -1;
}

ul li {
  list-style: none;
  margin: 15px 0;
}

ul li p {
  margin: 0px;
}

.sous_titre {
  font-size: 1.1em;
}

/*HEADER*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFF;
  -webkit-box-shadow: 0px -2px 10px black;
          box-shadow: 0px -2px 10px black;
  position: relative;
}

header img {
  width: 10em;
  margin: 12px;
}

/*VILLE*/
.ville {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: gainsboro;
}

.ville p {
  margin: 15px 20px;
  font-weight: bolder;
}

/*INFOS*/
.reservation {
  background-color: #f0f0f0;
  text-align: center;
  padding: 25px 0;
}

.reservation p {
  margin: 10px;
}

.reservation p .decouvrez {
  color: #7d7d7d;
  font-size: 1.15em;
}

.reservation .btn {
  margin: 20px 0 25px 0;
  display: inline-block;
  padding: 12px 20px;
  border-radius: 2em;
  color: white;
  font-size: 0.9em;
  background: #ff79da;
  background: linear-gradient(167deg, #ff79da 0%, #9356dc 75%);
}

/*FONCTIONNEMENT*/
.fonctionnement {
  background-color: #FFF;
  padding: 15px 0;
}

.fonctionnement div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f0f0f0;
  width: 85%;
  height: 70px;
  margin: auto;
  border-radius: 1em;
  margin: 20px auto;
  position: relative;
  -webkit-box-shadow: 1px 1px 1px #c9c9c9;
          box-shadow: 1px 1px 1px #c9c9c9;
}

.fonctionnement div:hover {
  background-color: rgba(147, 86, 220, 0.2);
}

.fonctionnement div .step_icon {
  position: absolute;
  left: 35px;
  color: #9356DC;
}

.fonctionnement div .step_name {
  position: absolute;
  left: 75px;
}

.fonctionnement div .step {
  background: #9356DC;
  border-radius: 2em;
  width: 20px;
  height: 20px;
  text-align: center;
  color: white;
  position: absolute;
  left: -10px;
}

/*RESTAURANT CHOICE*/
.restaurant {
  background: #f0f0f0;
  padding: 15px 0;
}

.restaurant .all_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.restaurant .all_card .card {
  height: 250px;
  width: 330px;
  margin: 15px auto;
  overflow: hidden;
  position: relative;
  border-radius: 1em;
  -webkit-box-shadow: 0px 3px 10px #c9c9c9;
          box-shadow: 0px 3px 10px #c9c9c9;
}

.restaurant .all_card .card img {
  width: 100%;
  position: absolute;
  top: -52px;
}

.restaurant .all_card .card .card_text {
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0px;
  background: #FFF;
}

.restaurant .all_card .card .card_text .card_name {
  margin: 20px 0px 0px 15px;
}

.restaurant .all_card .card .card_text .card_name p {
  margin: 2px;
}

.restaurant .all_card .card .new {
  position: absolute;
  top: 0px;
  right: 15px;
  background: #99E2D0;
  padding: 5px 12px;
  font-size: 0.9em;
  color: #1d8269;
  border-radius: 0.15em;
}

/* LIKE*/
.like {
  position: absolute;
  top: 38%;
  right: 36px;
  font-size: 1.3em;
  border: 2px transparent solid;
}

.empty {
  opacity: 100%;
  z-index: 1;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.empty:hover {
  opacity: 0%;
}

.full {
  opacity: 0%;
  -webkit-transition: 300ms;
  transition: 300ms;
  top: 31px;
}

.empty:hover + .full {
  opacity: 100%;
}

.gradient-text {
  background-color: #ff79da;
  background: linear-gradient(167deg, #ff79da 0%, #9356dc 75%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/*FOOTER*/
footer {
  background-color: #353535;
  color: white;
  padding: 10px 0;
}

footer svg {
  width: 110px;
  height: 60px;
  margin: 0px 0px 0px 28px;
}

footer svg path {
  fill: white;
}

footer ul {
  padding: 0px 10px;
  margin: -10px auto;
}

footer ul li {
  list-style: none;
  margin: 15px 0;
}

footer ul li p {
  margin: 0px;
}

footer ul li .text_footer {
  margin: 0 10px;
  font-family: 'Roboto';
}

/*HEADER RESTAURANT*/
header a {
  font-size: 1.2em;
  position: absolute;
  left: 15px;
  top: 25%;
  color: #585858;
}

.photo_header img {
  width: 100%;
}

/*MENU*/
.menu {
  position: relative;
  background: #f0f0f0;
  top: -50px;
  padding: 20px;
  border-radius: 3em;
}

.titre_menu {
  margin-left: 0px;
}

.like_menu {
  position: absolute;
  top: 6%;
  right: 40px;
  font-size: 1.3em;
  border: 2px transparent solid;
}

.empty_menu {
  opacity: 100%;
  z-index: 1;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.empty_menu:hover {
  opacity: 0%;
}

.full_menu {
  opacity: 0%;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.empty_menu:hover + .full_menu {
  opacity: 100%;
}

.block {
  width: 35px;
  height: 3px;
  position: relative;
  top: -10px;
  background: #99E2D0;
}

.plat {
  padding: 0px;
}

.plat li {
  height: 50px;
  background: white;
  border-radius: 1em;
  padding: 10px 15px;
  position: relative;
  overflow: hidden;
}

.plat li .plat_name {
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: 300ms;
  transition: 300ms;
  text-overflow: ellipsis;
  overflow: hidden;
}

.plat_name > p {
  -webkit-transition: 300ms;
  transition: 300ms;
}

.plat li:hover > .plat_name > p {
  -webkit-transform: translateX(-70px);
          transform: translateX(-70px);
}

.check {
  color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #99E2D0;
  padding: 10px;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0px;
  right: -70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5em;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.check i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 500ms;
  transition: 500ms;
}

.plat li:hover > .check {
  right: 0px;
}

.plat li:hover > .check i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.pt_15 {
  padding-top: 15px;
}

.btn {
  margin: 20px 0 25px 0;
  display: inline-block;
  padding: 12px 20px;
  border-radius: 2em;
  color: white;
  font-size: 0.9em;
  background: #ff79da;
  background: linear-gradient(167deg, #ff79da 0%, #9356dc 75%);
}

.t_1 {
  -webkit-animation: fondu 1s ease-in-out forwards;
          animation: fondu 1s ease-in-out forwards;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.t_2 {
  -webkit-animation: fondu 1s ease-in-out forwards;
          animation: fondu 1s ease-in-out forwards;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.t_3 {
  -webkit-animation: fondu 1s ease-in-out forwards;
          animation: fondu 1s ease-in-out forwards;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.t_4 {
  -webkit-animation: fondu 1s ease-in-out forwards;
          animation: fondu 1s ease-in-out forwards;
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.t_5 {
  -webkit-animation: fondu 1s ease-in-out forwards;
          animation: fondu 1s ease-in-out forwards;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.t_6 {
  -webkit-animation: fondu 1s ease-in-out forwards;
          animation: fondu 1s ease-in-out forwards;
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

.t_7 {
  -webkit-animation: fondu 1s ease-in-out forwards;
          animation: fondu 1s ease-in-out forwards;
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
}

.t_8 {
  -webkit-animation: fondu 1s ease-in-out forwards;
          animation: fondu 1s ease-in-out forwards;
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}

.t_9 {
  -webkit-animation: fondu 1s ease-in-out forwards;
          animation: fondu 1s ease-in-out forwards;
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
}

.menu_opacity {
  opacity: 0%;
}

.commande {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@-webkit-keyframes fondu {
  from {
    opacity: 0%;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 100%;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fondu {
  from {
    opacity: 0%;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 100%;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.fond {
  position: fixed;
  background: white;
  width: 100%;
  height: 1000px;
  z-index: 10;
  visibility: visible;
  -webkit-animation: loading 300ms ease-out forwards;
          animation: loading 300ms ease-out forwards;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.fond .boucle {
  padding-top: 200px;
  width: 100%;
}

@-webkit-keyframes loading {
  from {
    z-index: 10;
    opacity: 100%;
  }
  to {
    z-index: 0;
    opacity: 0%;
  }
}

@keyframes loading {
  from {
    z-index: 10;
    opacity: 100%;
  }
  to {
    z-index: 0;
    opacity: 0%;
  }
}

.ellipse {
  white-space: inherit;
  width: 100%;
  text-overflow: initial;
  overflow: visible;
}

.plat li:hover .ellipse {
  white-space: nowrap;
  width: 190px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style_sass.css.map */